<div *ngIf="status">
  <span>RPI status: </span>
  <span [style.color]="status.enabled ? 'green' : 'red'">{{status.enabled ? 'Enabled' : 'Disabled'}}</span>
</div>
<div *ngIf="!status">
  <mat-spinner class="centeredHor centeredVert"></mat-spinner>
</div>

<div *ngIf="mutedUser">
  <h3>Connected user</h3>
  <div *ngIf="mutedUser.activeUsers.length === 0" class="centeredVert centeredHor">
    <span>Currently no user is talking</span>
  </div>
  <mat-list *ngIf="mutedUser.activeUsers.length !== 0" role="list">
    <mat-list-item role="listitem" *ngFor="let user of mutedUser.activeUsers">
      <span class="padding">{{user}}</span>
      <button class="marginLeft" matTooltip="Unmute user" mat-mini-fab color="warn" (click)="trigger(user)">
        <mat-icon>mic_off</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <div class="border">
    <button mat-raised-button [disabled]="mutedUser.activeUsers.length === 0" color="primary" (click)="reset()">
      <span>Unmute all user</span>
    </button>
  </div>
</div>
<div>
  <h3>Trigger user</h3>
  <mat-form-field>
    <input matInput placeholder="User" value="Webapp" #input>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="trigger(input.value)">Trigger user</button>
</div>

<div *ngIf="!mutedUser">
  <mat-spinner class="centeredHor centeredVert"></mat-spinner>
</div>
