<div *ngIf="noContent">
  <p class="centeredHor centeredVert border">No Logs to display</p>
</div>

<div *ngIf="!noContent">
  <div class="border" *ngIf="!display">
    <mat-spinner class="centeredVert centeredHor"></mat-spinner>
  </div>

  <div *ngIf="display" class="table">

    <table mat-table #table [dataSource]="dataSource" matSort aria-label="Logs">
      <!-- Day Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">{{pipe.transform(row.date, 'mediumDate')}}</td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let row">{{pipe.transform(row.date, 'mediumTime')}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.user}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">{{row.action}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="container">

      <button mat-button color="warn" class="deleteBtn" (click)="deleteLog()">Delete Logs</button>
      <span class="spacer"></span>
      <mat-paginator #paginator showFirstLastButtons
                     [pageIndex]="0"
                     [pageSize]="50"
                     [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>

    </div>
  </div>
</div>
